body {
    background-color: white;
}

div {
    text-align: center;
    height: 200px;
    width: 300px;
    border: solid black;
    border-radius: 25px;
}
h1 {
    border-top: dotted black;
    border-bottom: dotted black;
    background-color: red;
    color: black;
}
h2 {
    background-color: white;
}
p {
   font-family: monospace; 
   font-style: italic;
   font-size: 30px;
}