body {
    box-sizing: border-box;
    background-color: white;
}
div {
    margin: auto;
    text-align: center;
    height: 200px;
    width: 300px;
    border: solid black;
    border-radius: 25px;
}
h1 {
    border-top: black;
    border-bottom: black;
    background-color: rgb(226, 41, 41);
    color: black;
    height: px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p {
   font-family: 'Bradley Hand'; 
   font-style: italic;
   font-size: 35px;
   background-color: black;
   color: white;
}